*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 150px;
}
.contents{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.location{
    display: block;
}
.icons{
    padding-top: 50px;
    height: 1px;
}
.unique{
    font-size: 15px;
    padding-left: 25px;
    padding-top: 50px;
}
.inputField{
    width: 480px;
    height: 34px;
}
.search:hover{
    background-color: #F3A847;
}
.other{
    font-size: 15px;
    color: silver;
}
.arrange{
    background-color: silver;
}
.flag{
    width: 28px;
    height: 18px;
}
.count{
    position: absolute;
    font-size: 20px;
}
.cart{
    padding-top: 18px;
}
.second{
    width: 50%;
    margin: 0;
    padding: 0;
}
.header_wrapper{
    background-color: #232F3E;
}