*{
    padding: 0;
    margin: 0;
}
.header_wrapper{
    background-color: #232F3E;
    position: fixed !important;
    top: 0;
    z-index: 100;
    width: 100%;
}
.hover_border:hover{
    border: 1px solid white;
    padding: 3px 5px;
    border-radius: 5px;
}
.logo{
    width: 110px;
    height: 35px;
}
.contents{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #131921;
    font-size: 13px;
}
/* Show location part */
.location{
    display: block;
}
.icons{
    padding-top: 50px;
    height: 1px;
}
.unique{
    font-size: 13px;
    padding-left: 20px;
    padding-top: 50px;
    color: silver;
}
/* ------------------------------ */

/* Change the catagory of products */
.arrange{
    background-color: silver;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
/* -------------------------------- */
/* Input to Search the product */
.inputField{
    width: 570px;
    height: 32px;
    font-size: 15px;
    padding-top: -5px;
}
.search_logo{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    background-color: var(--primary-color);
}
.search_logo:hover{
    background-color: var(--primary-shadow);
}
/* ------------------------------------- */
/* Change Language part */
.flag{
    width: 28px;
    height: 18px;
}
/* ---------------------------------- */
/* Cart */
.count{
    position: absolute;
    font-size: 20px;
}
.cart{
    padding-top: 18px;
}
/* ---------------------------------- */
/* Second row of Header links */
.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    font-size: 13px;
}
.second div:hover{
    cursor: pointer;
}
/* -------------------------------------------- */

