*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(25, 23, 23);
    color: white;
}
.logo{
    width: 150px;
}
.contents{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 15px;
}
.location{
    display: block;
}
.icons{
    padding-top: 50px;
    height: 1px;
}
.unique{
    font-size: 15px;
    padding-left: 25px;
    padding-top: 50px;
}
.inputField{
    width: 480px;
    height: 34px;
}
.search:hover{
    background-color: #F3A847;
}
.other{
    font-size: 15px;
    color: silver;
}
.arrange{
    background-color: silver;
}
.flag{
    width: 28px;
    height: 18px;
}
.cart{
    height: 100px;
}
.second{
    width: 40%;
}